.container_title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: var(--color-primary);
}

.btn_atras {
  position: fixed;
  top: 10%;
  left: 5%;
  display: flex;
  align-items: center;
}

.container_card {
  background-color: var(--gray-light);
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.card_area {
  background-color: #fff;
  margin: 20px auto;
}

.card_title {
  text-align: center;
}

.container_form {
  border-top: solid 1.5px var(--gray-borders);
  padding: 15px 2rem 2.5rem 2rem;
}
.formulario {
  max-width: 800px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columnas */
  gap: 1rem 2rem; /* espacio entre filas y columnas */
}

.form-grupo {
  display: flex;
  flex-direction: column;
}

.form-grupo label {
  font-weight: bold;
  margin-bottom: 0.4rem;
  font-size: 14px;
}

.form-grupo input,
.form-grupo textarea,
.form-grupo button {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.form-grupo input[readonly] {
  background-color: #eee;
  cursor: not-allowed;
}

.form-grupo textarea {
  height: 30px;
  resize: none;
  overflow: auto;
  font-family: sans-serif;
}

.btn_form_grupo {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
}

.error_message {
  color: red;
  font-size: 11px;
}

input.error,
textarea.error {
  border-color: red !important; /* borde rojo cuando hay error */
}

/* Responsive para tablet/celular */
@media (max-width: 768px) {
  .formulario {
    grid-template-columns: 1fr; /* solo 1 columna */
  }
}
